<form action="/" method="post">
    <label for="birthdate">Enter your birthdate as MMDDYYYY:</label>
    <input class="form-control" name="birthdate" type="date" />
<%#-   <input type="text" name="birthdate"> -%>
    <input type="submit">
</form>